[Unit]
Description=Timer unit for wallpaper update

[Timer]
OnStartupSec=30
OnUnitActiveSec=1h
Unit=wallpaper.service

[Install]
WantedBy=timers.target
WantedBy=sway-session.target
