[Unit]
Description=Timer unit for wallpaper update

[Timer]
OnActiveSec=30
OnUnitActiveSec=1h
Unit=wallpaper.service

[Install]
WantedBy=timers.target
