.config/clash/
.config/GIMP/
.config/Microsoft/
.config/QtProject.conf
.config/RyzenController/
.config/SogouPY.users/
.config/SogouPY/
.config/Trolltech.conf
.config/chromium
.config/chromium-back-ovfs/
.config/chromium-backup-crashrecovery-20200329_132740/
.config/chromium-backup-crashrecovery-20200331_204809/
.config/chromium-backup/
.config/dconf/
.config/enchant/
.config/fcitx/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/ibus/
.config/inkscape/
.config/kitty/
.config/libreoffice/
.config/mpv/pre-scalers/
.config/mutt/20200304_22h45m42s_grim.png
.config/mutt/muttrc.luke
.config/pavucontrol-qt/
.config/pavucontrol.ini
.config/picom.conf.bak
.config/psd/
.config/pulse/
.config/qt5ct/
.config/teams/
.config/transmission-remote-gtk/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/wisers.gpg
bin/wisersRemoteRun.sh
.config/chromium-backup-crashrecovery-20200408_145511/
