[Desktop Entry]
Name=阴阳师
Exec=env WINEPREFIX="/home/hill/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/hill/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/阴阳师/阴阳师.lnk
Type=Application
StartupNotify=true
Path=/home/hill/.wine/dosdevices/c:/Program Files (x86)/Onmyoji
Icon=3619_Launch.0
StartupWMClass=launch.exe
