#
# WARNING: Make sure to use the docker-compose.yml of the current release:
#
#
# The compose file on main may not be compatible with the latest release.
#

name: openwebui

services:
  openwebui-server:
    container_name: openwebui
    image: ghcr.io/open-webui/open-webui:main
    volumes:
      - openwebuidata:/app/backend/data
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    ports:
      - 3000:8080
    environment:
      DATABASE_URL: postgresql://${DB_USERNAME}:${DB_PASSWORD}@openwebui-database:5432/${DB_DATABASE_NAME} 
      GLOBAL_LOG_LEVEL: ERROR
      CHAT_STREAM_RESPONSE_CHUNK_MAX_BUFFER_SIZE: 10485760
      GOOGLE_APPLICATION_CREDENTIALS: /cred.json
    depends_on:
      - openwebui-database
    restart: always

  openwebui-database:
    container_name: openwebui_postgres
    image: tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:90724186f0a3517cf6914295b5ab410db9ce23190a2d9d0b9dd6463e3fa298f0
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
    volumes:
      - openwebuidb:/var/lib/postgresql/data
    restart: always
  litellm:
    container_name: litellm
    image: ghcr.io/berriai/litellm:main-stable
    volumes:
      - ${PWD}/config.yaml:/app/config.yaml
      - ${PWD}/application_default_credentials.json:/cred.json
    ports:
      - 4000:4000
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/cred.json
      - LITELLM_LOG=ERROR
      - LITELLM_MODE=PRODUCTION
      - LITELLM_MASTER_KEY=${LITELLM_MASTER_KEY}
    command: --config /app/config.yaml --detailed_debug
    restart: always
volumes:
  openwebuidb:
  openwebuidata:
