* {
    border: none;
    border-radius: 0;
    font-family: "Fixedsys Excelsior MonoL";
    font-size: 9pt;
    /* font-weight: 900; */
    min-height: 13pt;
}

window#waybar {
    /* background-color: rgba(50,63,79,0.95); */
    /* background: alpha(@theme_base_color, 0.75); */
    /* background: @theme_base_color; */
    background: #3D4C5F;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}
tooltip {
    /* background: rgba(43, 48, 59, 0.5); */
    /* border: 1px solid rgba(100, 114, 125, 0.5); */
    border-radius: 8px;
    /* font-size: 12pt; */
}
tooltip label {
/*     color: white; */
    padding: 2em 4em;
    font-family: "SF Pro Display";
    /* font-family: "Fixedsys Excelsior MonoL"; */
    font-weight: 500;
    font-size: 12pt;
}
/* #window { */
/*     padding: 0 1em; */
/* } */

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.kitty {
    background-color: #3F3F3F;
}

window#waybar.brave {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 0.6em;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

/* river settings equiv to above workspaces */
#tags button {
    padding: 0.1em 0.6em;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;

}

#tags button:hover {
    background: rgba(0, 0, 0, 0.2);
    background-color: #64727D;
    box-shadow: inherit;
}
#tags button.focused {
    background-color: #2e9ef4;
    border-bottom: 3px solid #2e9ef4;
}

#tags button.urgent {
    background-color: #eb4d4b;
}

#tags button.occupied {
    /* background: rgba(0, 0, 0, 0.2); */
    /* box-shadow: inherit; */
    /* border-bottom: 3px solid #ffffff; */
    border-bottom: 3px solid @focused_borders;

}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-temperature,
#custom-bluetooth,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    /* padding: 0 10px; */
    padding: 0.1em 0.5em;
    /* color: #FFFFFF; */
    color: @theme_text_color;
    /* border-radius: 8px; */
}


#clock {
    /* background-color: @theme_base_color */
    background-color: #495972
    /* background-color: transparent */
    /* background-color: #64727D; */
    /* border-bottom: 3px solid transparent; */
    /* border-bottom: 3px solid #64727D; */
    /* border-top: 3px solid #64727D; */
}

#battery {
    /* background-color: #ffffff; */
    /* color: #000000; */
    /* border-bottom: 3px solid #ffffff; */
    /* border-bottom: 3px solid #2980b9; */
    border-top: 3px solid #2980b9;
}

#battery.charging {
    /* color: #ffffff; */
    /* background-color: #26A65B; */
    /* border-bottom: 3px solid #26A65B; */
    border-top: 3px solid #26A65B;
}

#battery.good.discharging {
    /* border-bottom: 3px solid #2ecc71; */
    border-top: 3px solid #2ecc71;
}

#battery.warning.discharging {
    /* border-bottom: 3px solid #f0932b; */
    border-top: 3px solid #f0932b;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    /* border-bottom: 3px solid #f53c3c; */
    border-top: 3px solid #f53c3c;
    /* color: #ffffff; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background: rgba(0, 0, 0, 0.2);
    background-color: #64727D;
    box-shadow: inherit;
}

#cpu {
    /* border-bottom: 3px solid #2ecc71; */
    border-top: 3px solid #2ecc71;
    /* color: #000000; */
}

#memory {
    /* border-bottom: 3px solid #9b59b6; */
    border-top: 3px solid #9b59b6;
}

#backlight {
    /* border-bottom: 3px solid #90b1b1; */
    border-top: 3px solid #90b1b1;
}

#network {
    /* border-bottom: 3px solid #2980b9; */
    border-top: 3px solid #2980b9;
}

#network.disconnected {
    /* border-bottom: 3px solid #f53c3c; */
    border-top: 3px solid #f53c3c;
}

#pulseaudio {
    /* border-bottom: 3px solid #f1c40f; */
    border-top: 3px solid #f1c40f;
    /* min-width: 80pt; */
    /* color: #000000; */
}

#pulseaudio.muted {
    /* border-bottom: 3px solid #90b1b1; */
    /* border-top: 3px solid #90b1b1; */
    /* border-top: 3px solid #f53c3c; */
    border-top: 3px solid #eb4d4b;
    /* color: #2a5c45; */
}


#custom-bluetooth.yes{
    /* border-bottom: 3px solid #2980b9; */
    border-top: 3px solid #2980b9;
}
#custom-bluetooth.no{
    /* border-bottom: 3px solid #64727D; */
    border-top: 3px solid #64727D;
}

#custom-temperature.cool{
    /* border-bottom: 3px solid #86B404; */
    border-top: 3px solid #86B404;
    /* color: #000000; */
    min-width: 40px;
}

#custom-temperature.normal{
    /* border-bottom: 3px solid #f0932b; */
    border-top: 3px solid #f0932b;
}

#custom-temperature.critical {
    /* border-bottom: 3px solid #eb4d4b; */
    border-top: 3px solid #eb4d4b;
}

#tray {
    /* background-color: #64727D; */
    background-color: #4A5C74;
    /* border-bottom: 3px solid #1d3436; */
}

#mpd {
    /* border-bottom: 3px solid #66cc99; */
    border-top: 3px solid #66cc99;
    /* color: #2a5c45; */
}

#mpd.disconnected {
    /* border-bottom: 3px solid #f53c3c; */
    border-top: 3px solid #f53c3c;
}

#mpd.stopped {
    /* border-bottom: 3px solid #90b1b1; */
    border-top: 3px solid #90b1b1;
}

#mpd.paused {
    /* border-bottom: 3px solid #51a37a; */
    border-top: 3px solid #51a37a;
}
/* #custom-media { */
/*     /1* border-bottom: 3px solid #66cc99; *1/ */
/*     border-top: 3px solid #66cc99; */
/*     /1* color: #2a5c45; *1/ */
/*     min-width: 100px; */
/* } */
/* #custom-media.custom-spotify { */
/*     /1* border-bottom: 3px solid #66cc99; *1/ */
/*     border-top: 3px solid #66cc99; */
/* } */

/* #custom-media.custom-vlc { */
/*     /1* border-bottom: 3px solid #ffa000; *1/ */
/*     border-top: 3px solid #ffa000; */
/* } */

/* #temperature { */
/*     /1* border-bottom: 3px solid #f0932b; *1/ */
/*     border-top: 3px solid #f0932b; */
/* } */

/* #temperature.critical { */
/*     /1* border-bottom: 3px solid #eb4d4b; *1/ */
/*     border-top: 3px solid #eb4d4b; */
/* } */
/* #idle_inhibitor { */
/*     background-color: #2d3436; */
/* } */

/* #idle_inhibitor.activated { */
/*     background-color: #ecf0f1; */
/*     /1* color: #2d3436; *1/ */
/* } */
