[Unit]
Description = netmuxd
Requires=usbmuxd.service
After=network-online.target multi-user.target

[Service]
RestartSec=10s
ExecStart = /home/hill/altstore/x86_64-linux-netmuxd --disable-unix --host 127.0.0.1
Restart=always
KillSignal=SIGTERM
PIDFile=/run/netmuxd.pid


[Install]
WantedBy=multi-user.target
