#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=KanbanFlow
#Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=hhhlbmjihokflibmbfmldajolmkaemhi
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app="https://kanbanflow.com"
Icon=chrome-hhhlbmjihokflibmbfmldajolmkaemhi-Default
StartupWMClass=crx_hhhlbmjihokflibmbfmldajolmkaemhi
