#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Mail
#Exec=firefox -P app --new-window "https://outlook.office.com/owa/?realm=astri.org&exsvurl=1&ll-cc=4105&modurl=0"
Exec=firefox -P app --new-window "https://outlook.office.com/owa/?realm=astri.org&exsvurl=1&ll-cc=4105&modurl=0"
Icon=chrome-fahmaaghhglfmonjliepjlchgpgfmobi-Default
StartupWMClass=mail
