[Desktop Entry]
Name=Paper
Comment=Dropbox paper
GenericName=Dropbox Paper
#Exec=firefox -P app --new-window "https://paper.dropbox.com/"
Exec=firefox -P app --new-window  "https://paper.dropbox.com/"
Type=Application
StartupNotify=false
