[Desktop Entry]
Name=Paper
Comment=Dropbox paper
GenericName=Dropbox Paper
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app="https://paper.dropbox.com/"
Type=Application
StartupNotify=false
