#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ppt
GenericName=Microsoft PowerPoint
Exec=firefox -P app --new-window "https://office.live.com/start/PowerPoint.aspx?auth=2&nf=1"
StartupNotify=false
Icon=chrome-fahmaaghhglfmonjliepjlchgpgfmobi-Default
