#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=slack
Comment=slack
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app="https://ics-ml.slack.com"
StartupNotify=false
Icon=chrome-fahmaaghhglfmonjliepjlchgpgfmobi-Default
