#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=wechat
Comment=wechat web client
Exec=firefox -P app --new-window "https://web.wechat.com"
StartupNotify=false
Icon=chrome-fahmaaghhglfmonjliepjlchgpgfmobi-Default
