[Desktop Entry]
Type=Application
Name=wordpad
MimeType=application/x-mswrite;
Exec=firefox -P app --new-window "/home/hill/.wine2" wine start /ProgIDOpen wrifile %f
NoDisplay=true
StartupNotify=true
Icon=97C1_wordpad.0
