[Desktop Entry]
Type=Application
Name=notepad
MimeType=text/plain;
Exec=firefox -P app --new-window "/home/hill/.wine2" wine start /ProgIDOpen txtfile %f
NoDisplay=true
StartupNotify=true
Icon=1E64_notepad.0
