[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-mswinurl;
Exec=firefox -P app --new-window "/home/hill/.wine2" wine start /ProgIDOpen InternetShortcut %f
NoDisplay=true
StartupNotify=true
Icon=1CD8_rundll32.0
