[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=application/xml;
Exec=firefox -P app --new-window "/home/hill/.wine2" wine start /ProgIDOpen xmlfile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
