[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=text/html;
Exec=firefox -P app --new-window "/home/hill/.wine2" wine start /ProgIDOpen htmlfile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
