[Desktop Entry]
Type=Application
Name=winhlp32
MimeType=application/winhlp;
Exec=firefox -P app --new-window "/home/hill/.wine2" wine start /ProgIDOpen hlpfile %f
NoDisplay=true
StartupNotify=true
Icon=4137_winhlp32.0
